<form [formGroup]="orderForm">
    <div class="row">
        <!-- CLIENTE -->
        <div class="col-6">
            <div class="mb-3">
                <label for="customerName" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="customerName" formControlName="customerName"
                [ngClass]="{'is-invalid' : orderForm.get('customerName')?.invalid && orderForm.get('customerName')?.touched}">
                @if (orderForm.get('customerName')?.getError('minlength')) {
                    <div class="text-danger">Debe ingresar al menos 3 caracteres</div>
                }
                @if (orderForm.get('customerName')?.getError('required')) {
                    <div class="text-danger">Nombre requerido</div>
                }
            </div>
        </div>

        <!-- EMAIL -->
        <div class="col-6">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                [ngClass]="{'is-invalid' : orderForm.get('email')?.invalid && orderForm.get('email')?.touched}">
                @if (orderForm.get('email')?.getError('email')) {
                    <div class="text-danger">Debe ingresar un email valido</div>
                }
                @if (orderForm.get('email')?.getError('required')) {
                    <div class="text-danger">Email requerido</div>
                }
            </div>
        </div> 
    </div>

    <!-- PRODUCTOS -->
    <div class="row">
        <div class="col">
            <h1>Productos</h1>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="addProd()">+</button>
        </div>
    </div>
    <div formArrayName="products">
        @for (product of products.controls; track $index) {
            <div class="row" [formGroupName]="$index">
                <!-- PROD ID -->
                <div class="col">
                    <div class="mb-3">
                        <label for="productId" class="form-label">Producto</label>
                        <select class="form-select" formControlName="productId">
                            @for (p of productList; track $index) {
                                <option [value]="p.id">{{p.name}}</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- CANTIDAD -->
                <div class="col">
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="quantity" formControlName="quantity"
                        [ngClass]="{'is-invalid' : product.get('quantity')?.invalid && product.get('quantity')?.touched}">
                        @if (product.get('quantity')?.getError('max')) {
                            <div class="text-danger">La cantidad no puede superar el stock</div>
                        }
                        @if (product.get('quantity')?.getError('min')) {
                            <div class="text-danger">La cantidad debe ser mayor a cero</div>
                        }
                        @if (product.get('quantity')?.getError('required')) {
                            <div class="text-danger">La cantidad es requerida</div>
                        }
                    </div>
                </div>

                <!-- PRECIO -->
                <div class="col">
                    <div class="mb-3">
                        <label for="price" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="price" formControlName="price" readonly>
                    </div>
                </div>

                <!-- STOCK -->
                <div class="col">
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="stock" formControlName="stock" readonly>
                    </div>
                </div>

                <!-- REMOVE -->
                <div class="col mt-4">
                    <button type="button" class="btn btn-danger" (click)="removeProd($index)">X</button>
                </div>
            </div>
        }
        @if (orderForm.get('products')?.getError('duplicatedProduct')) {
            <div class="text-danger">Productos duplicados</div>
        }
    </div>

    <!-- PRODUCTOS SELECCIONADOS -->
    <div class="row">
        <ul>

        </ul>
    </div>
</form>